*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: #ececec;
}

.notification_wrap{
  width: 700px;
  margin: 120px auto 0;
}

.notification_icon{
  position: relative;
  width: 50px;
  height: 50px;
  font-size: 32px;
  margin: 0 auto;
  text-align: center;
  color: #1b18da;
  cursor: pointer;
}

.dropdown{
  width: 470px;
  height: auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.125);
  margin: 15px auto 0;
  padding: 15px;
  position: relative;
  display: block;
}

.notify_item{
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #dbdaff;
}

.notify_item:last-child{
  border-bottom: 0;
}

.notify_img{
  margin-right: 15px;
}

.notify_info{
  margin-bottom: 30px;
}

.notify_second_img{
  padding-left: 30px;
}

.notify_info p span{
  color: #2623e9;
  margin-bottom: 5px;
}

.notify_info .notify_time{
  color: #c5c5e6;
  font-size: 12px;
}

.notification_wrap .dropdown:before{
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: transparent transparent #fff transparent;
}

.image_width{
  width: 50px;
}